# ignore all Emacs backups
*~

# ignore specific site_config files 
/site_config/bitterroot.bash
/site_config/windriver.bash
/site_config/sawtooth.bash

# ignore specific data directories
/data/bitterroot
/data/windriver
/data/sawtooth
